/* Error: Undefined mixin.
 *    ,
 * 14 |         @include typo(1.2rem, 400, $font, 1.2rem);
 *    |         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   css/sass/breadcrumb.scss 14:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 14 \2502          @include typo(1.2rem, 400, $font, 1.2rem);\a    \2502          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   css/sass/breadcrumb.scss 14:9  root stylesheet";
}
