div.filtros {
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 0 4px 0px #00000030;
          box-shadow: 0 0 4px 0px #00000030;
}

div.filtros div.marcas ul {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 28px 2.9vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
}

div.filtros div.marcas ul div.divisor {
  position: relative;
  width: 1px;
  height: 85px;
  background-color: #e3e3e3;
}

div.filtros div.marcas ul li {
  width: 130px;
  height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  border: 1px solid #ffffff;
}

div.filtros div.marcas ul li img {
  width: 100px;
  -webkit-transition: 0.1s all ease-in-out;
  transition: 0.1s all ease-in-out;
}

div.filtros div.marcas ul li.selected {
  border-color: #cecece;
  -webkit-box-shadow: 0 0 4px 0px #0000004d;
          box-shadow: 0 0 4px 0px #0000004d;
}

div.filtros div.marcas ul li:not(.selected) {
  cursor: pointer;
  -webkit-transition: 0.1s all ease-in-out;
  transition: 0.1s all ease-in-out;
}

div.filtros div.marcas ul li:not(.selected):hover {
  background-color: #eee;
}

div.filtros div.marcas ul li:not(.selected):hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
