footer {
  position: relative;
  width: 100%;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2.2vw;
  background-color: #4C5A64;
}

footer div.cima, footer div.baixo {
  position: relative;
  width: 100%;
}

footer div.cima {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer div.cima div.coluna {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 1em;
}

footer div.cima div.coluna h3 {
  color: #fff;
  font-family: "Nunito";
  font-size: 1.8em;
}

footer div.cima div.coluna a {
  color: #fff;
  font-family: 'Nunito';
  font-size: 1.8em;
  display: block;
  margin-bottom: 8px;
}

footer div.cima div.coluna a.telefone {
  font-weight: 800;
}

footer div.cima div.coluna a.whatsapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 180px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px 15px;
  color: #fff;
  font-family: 'Nunito';
  font-weight: 800;
  background-color: #00B31E;
  border-radius: 4px;
  margin-top: 15px;
}

footer div.cima div.coluna a.whatsapp svg {
  width: 20px;
}

footer div.cima div.coluna a:hover {
  text-decoration: underline;
}

footer div.cima div.coluna span {
  width: 80%;
  color: #fff;
  font-family: 'Nunito';
  font-size: 1.2em;
  display: block;
  margin: 0 0 15px 0;
}

footer div.cima div.coluna.col_pagamento div.bandeiras {
  margin-bottom: 15px;
}

footer div.cima div.coluna.col_pagamento div.bandeiras svg {
  margin-right: 5px;
}

footer div.cima div.coluna.social ul li a {
  width: 30px;
  height: 30px;
}

footer div.cima div.coluna.social ul li a svg {
  border-radius: 5px;
}

footer div.baixo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px 12px 0 12px;
}

footer div.baixo div.ct_baixo {
  width: 100%;
  border-top: 1px solid #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 30px;
}

footer div.baixo div.ct_baixo span {
  color: #fff;
  font-family: 'Nunito';
  font-size: 1.4em;
  display: block;
  margin: 0 0 18px 0;
}

footer div.baixo div.ct_baixo span.strong {
  font-size: 1.5em;
  font-weight: 800;
}
