header {
  height: 145px;
  background: var(--menu-background);
}
header #logo-d, header div.cima {
  display: none;
}
header div.baixo {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
header div.baixo #svg_hamburger {
  order: 1;
}
header div.baixo #logo-m {
  order: 2;
  width: 85px;
}
header div.baixo div.action {
  order: 3;
  background-color: transparent;
}
header div.baixo div.action div.conta {
  display: none;
}
header div.baixo div.action div.carrinho {
  background-color: transparent;
}
header div.baixo svg#svg_hamburger {
  margin-left: 15px;
}
header div.baixo svg#svg_carrinho {
  width: 35px;
  height: 35px;
  fill: #fff;
  margin-right: 15px;
}
header div.baixo form.barra_busca {
  order: 4;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header div.baixo form.barra_busca input {
  position: relative;
  width: 93%;
  height: 40px;
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  padding-left: 15px;
}
header div.baixo form.barra_busca button {
  display: none;
}
