@font-face {
    font-family: MuseoSansRounded;
    src: url("./fonts/MuseoSansRounded/MuseoSansRounded.otf");
}

@font-face {
    font-family: Nexa-Light;
    src: url("./fonts/Nexa/Nexa_Light.otf");
}

@font-face {
    font-family: Nexa-Bold;
    src: url("./fonts/Nexa/Nexa_Bold.otf");
}

html {
    font-size: 10px!important;
}



body, .application, .site-main {
    position: relative;
    width: 100%;

    background-color: #ececec;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.whatsapp_floating {
    position: fixed;
    top: 82%;
    right: 1%;
    padding: 10px;
    
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: #00b31e;

    box-shadow: 0px 0px 5px #00000042;

    z-index: 10000000;

    a {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            position: relative;
            width: 35px;
            height: 30px;
        }
    }
}

div#openJivo {
    position: fixed;
    width: 280px;

    display: flex;
    justify-content: center;
    right: 25px;
    bottom: 15px;
    z-index: 1000000000;

    button#btnEscondeChat {
        position: absolute;
        border: 0;
        background-color: #171717;
        color: #fff;
        font-family: Nunito;
        font-weight: 800;
        text-transform: uppercase;
        text-align: end;
        width: 145px;
        height: 29px;
        margin: 29px 60px 0 0;
        box-sizing: border-box;
        padding-right: 30px;

        overflow: hidden;
        border-radius: 7px 7px 0 0;

        &:before {
            position: absolute;
            left: 0;
            width: 30px;
            height: 100%;
            content: '-';
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #000;
        }

        &:hover {
            cursor: pointer;
            background-color: #252525;

            &:before {
                background-color: #171717;
            }
        }

        &.hidden {
            bottom: -15px;
            margin: 0;
            width: 188px;

            &:before {
                content: "+";
            }
        }
    }

    img {
        position: relative;
        pointer-events: none;
        display: none;
    }

    div {
        position: absolute;
        width: 80%;
        left: 0;
        top: 47%;
        box-sizing: border-box;
        padding: 0 15px;
        display: flex;
        flex-direction: column;

        display: none;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            
            box-sizing: border-box;
            padding: 8px 0;
            border-radius: 22px;

            cursor: pointer;

            transition: 0.3s all ease-in-out;

            &:nth-child(1) {
                width: 80%;
                background-color: #00B31E;

                &:hover {
                    background-color: #07d82a;
                }
            }

            &:nth-child(2) {
                width: 57%;
                background-color: #0088B3;
                margin-top: 15px;

                &:hover {
                    background-color: #03a2d3;
                }
            }

            svg {
                margin-right: 8px;
            }

            span {
                color: #fff;
                font-family: Nunito;
                font-weight: 900;
                font-size: 1.5em;
            }
        }
    }
}

jdiv#jvlabelWrap {
    bottom: -50px!important;
    display: none!important;
    transition: 0.2s all ease-in-out;
}

jdiv.__jivoMobileButton {
    // display: none!important;
}

#isMobile {
    display: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

p, a, span, h2 {
    color: #333333;
}

h3 {
    color: #252525;
}

section.page-content {
    padding: 0;
}

.tray-hide{
    display:none!important
}

#secao_produto > div.ct_avaliacoes_produto > div.hreview-comentarios > div.ranking > span.rating {
    display: block;
    max-width: 100px;
    height: 15px;
    background: url("../img/png/ranking.png");
    margin-bottom: 15px;

    &.star1 {
        background-position-x: -80px;
    }

    &.star2 {
        background-position-x: -60px;
    }

    &.star3 {
        background-position-x: -40px;
    }

    &.star4 {
        background-position-x: -20px;
    }
}

// Splide settings
ul.splide__pagination {
    li {
        button {
            background: #969696;

            &.is-active {
                background: #4c4c4c;
            }
        }
    }
}

li.card_produto {
    height: 380px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 4px 0px #00000030;
    overflow: hidden;

    transition: 0.1s all ease-in-out;

    position: relative;

    ul#variacoes_card_produto {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: #fff;
        box-sizing: border-box;
        padding: 15px;
        transition: 0.3s all ease-in-out;
        opacity: 0;

        strong {
            color: #4f4f4f;
            font-family: Nunito;
            font-size: 1.5em;
            font-weight: 900;
            text-align: center;
            margin-top: 30px;
        }

        li {
            width: 100%;
            text-align: center;
            box-sizing: border-box;
            padding: 15px;
            border-radius: 3px;
            background-color: #e6e6e6;
            font-family: Nunito;
            font-size: 1.3em;
            font-weight: 700;
            color: #333;
            cursor: pointer;
            margin-top: 8px;

            transition: 0.3s all ease-in-out;

            &:first-child {
                margin: 0;
            }

            &:hover {
                background-color: #bbbbbb;
            }
        }

        button {
            position: absolute;
            bottom: 30px;
            border: 0;
            background-color: #979797;
            width: 50px;
            height: 50px;
            border-radius: 50px;
            font-family: Nunito;
            font-weight: 900;
            align-self: center;
            cursor: pointer;
            transition: 0.3s all ease-in-out;

            &:hover {
                background-color: rgb(43, 43, 43);
                color: #fff;
            }
        }

        &.show {
            opacity: 1;
            grid-gap: 0;
            z-index: 10;
        }
    }

    a {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: #2c2c2c;

        transition: 0.3s all ease-in-out;

        div.foto_produto {
            position: relative;
            width: 100%;
            height: 40%;
            box-sizing: border-box;
            padding-top: 15px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                position: relative;
                height: 100%;
                object-fit: contain;
                
                transition: 0.1s all ease-in-out;
            }
        }

        div.info_produto {
            position: relative;
            width: 100%;
            height: 52%;
            box-sizing: border-box;
            padding: 30px 15px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            span.nome_produto {
                position: relative;
                height: 50%;
                overflow: hidden;

                color: #273033;
                font-family: 'Nunito';
                font-weight: 900;
                font-size: 1.5em;
                line-height: 20px;

                display: block;

                transition: 1s all ease-in-out;
            }

            span.preco_produto {
                font-family: 'Nunito';
                font-weight: 900;
                font-size: 2.5em;
                color: #535769;
            }
        }

        &.hide {
            opacity: 0;
        }
    }

    div.add_carrinho {
        position: absolute;
        width: 100%;
        height: 100px;
        bottom: 0;
        box-shadow: 0 -5px 8px 0px #b1b1b110;

        display: flex;
        flex-direction: column;

        transition: 0.3s all ease-in-out;

        div.qtd {
            position: relative;
            width: 100%;
            height: 50%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            button {
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: transparent;
                border: 0;
                color: #6b6b6b;
                font-family: 'Nunito';
                font-size: 3em;
                overflow: hidden;
                outline: none;
                cursor: pointer;
                transition: 0.3s all ease-in-out;

                &:hover {
                    color: #414141;
                }
            }

            input {
                position: relative;
                width: 40%;
                height: 65%;
                border: 0;
                text-align: center;
                font-family: 'Nunito';
                font-size: 2em;
                color: #424242;
                outline: none;
                border-radius: 5px;
                transition: 0.3s all ease-in-out;

                &:hover {
                    background-color: rgb(211, 211, 211);
                }
            }
        }

        button.btn_add_carrinho {
            position: relative;
            width: 100%;
            height: 50%;
            background-color: #434f59;
            border: 0;
            color: #fff;
            font-family: 'Nunito';
            font-weight: 800;
            font-size: 1.2em;
            text-transform: uppercase;
            cursor: pointer;
            transition: 0.3s all ease-in-out;

            &:hover {
                background-color: #647583;
            }
        }

        &.hide {
            opacity: 0;
        }
    }

    &:hover {
        a {
            div.foto_produto {
                img {
                    transform: scale(1.1);
                }
            }
        }
    }
}

div.tags {
    position: relative;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 50px 3vw;

    display: flex;
    flex-direction: column;

    background-color: #fff;
    font-family: Nunito;

    h3 {
        position: relative;

        font-size: 2em;
        font-weight: 800;       
        margin: 0;

        &:after {
            position: relative;
            width: 100%;
            height: 1px;
            background-color: #ddd;
            content: '';
            display: block;
            margin-top: 34px;
        }
    }

    div.taglinks {
        margin-top: 30px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        div.coluna {
            display: table;

            position: relative;
            width: 25%;

            a {
                font-size: 1.5em;
                font-weight: 600;
                color: #6f808c;
                text-transform: capitalize;
                display: inherit;
                margin: 10px 0;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    li.card_produto {
        div.add_carrinho {
            button.btn_add_carrinho {
                font-size: 1.1em;
            }
        }
    }

    div.tags {
        div.taglinks {
            flex-wrap: wrap;

            div.coluna {
                width: 40%;
                padding-left: 1.5vw;
                margin-top: -10px;
            }
        }
    }
}