div#vitrine-catalogo {
    display: none;
}

div.busca_avancada {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3e7112;
    color: #fff;
    font-family: 'Nunito';

    h1 {
        font-size: 2em;
        font-weight: 800;
        text-align: center;
        position: relative;
        box-sizing: border-box;
        line-height: 25px;
        margin: 30px 0;
    }

    a {
        color: #fff;
        font-size: 1.8em;
        font-weight: 800;
        text-transform: uppercase;
        display: block;
        padding: 15px 20%;
        border: 1px solid #fff;
        border-radius: 50px;
        transition: 0.3s all ease-in-out;
        margin-bottom: 25px;

        &:hover {
            color: #3e7112;
            background-color: #fff;
        }
    }
}