html {
	font-size: 10px !important;
}

// section.page-content {
// 	padding: 0;
// }

ul.splide__pagination {
	li {
		button {
			background: #969696;
		}
		button.is-active {
			background: #4c4c4c;
		}
	}
}

li.card_produto {
	height: 380px;
	background-color: #fff;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 4px 0px #00000030;
	box-shadow: 0 0 4px 0px #00000030;
	overflow: hidden;
	-webkit-transition: 0.1s all ease-in-out;
	transition: 0.1s all ease-in-out;
	position: relative;

	ul#variacoes_card_produto {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		background-color: #fff;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		padding: 15px;
		-webkit-transition: 0.3s all ease-in-out;
		transition: 0.3s all ease-in-out;
		opacity: 0;
		strong {
			color: #4f4f4f;
			font-family: Nunito;
			font-size: 1.5em;
			font-weight: 900;
			text-align: center;
			margin-top: 30px;
		}
		li {
			width: 100%;
			text-align: center;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			padding: 15px;
			border-radius: 3px;
			background-color: #e6e6e6;
			font-family: Nunito;
			font-size: 1.3em;
			font-weight: 700;
			color: #333;
			cursor: pointer;
			margin-top: 8px;
			-webkit-transition: 0.3s all ease-in-out;
			transition: 0.3s all ease-in-out;
			&:first-child {
				margin: 0;
			}
			&:hover {
				background-color: #bbbbbb;
			}
		}
		button {
			position: absolute;
			bottom: 30px;
			border: 0;
			background-color: #979797;
			width: 50px;
			height: 50px;
			border-radius: 50px;
			font-family: Nunito;
			font-weight: 900;
			-ms-flex-item-align: center;
			-ms-grid-row-align: center;
			align-self: center;
			cursor: pointer;
			-webkit-transition: 0.3s all ease-in-out;
			transition: 0.3s all ease-in-out;
			&:hover {
				background-color: #2b2b2b;
				color: #fff;
			}
		}
	}
	ul#variacoes_card_produto.show {
		opacity: 1;
		grid-gap: 0;
		z-index: 10;
	}
	a {
		display: block;
		position: relative;
		width: 100%;
		height: 100%;
		text-decoration: none;
		color: #2c2c2c;
		-webkit-transition: 0.3s all ease-in-out;
		transition: 0.3s all ease-in-out;
		div.foto_produto {
			position: relative;
			width: 100%;
			height: 40%;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			padding-top: 15px;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			img {
				position: relative;
				height: 100%;
				-o-object-fit: contain;
				object-fit: contain;
				-webkit-transition: 0.1s all ease-in-out;
				transition: 0.1s all ease-in-out;
			}
		}
		div.info_produto {
			position: relative;
			width: 100%;
			height: 52%;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			padding: 30px 15px;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;
			-webkit-box-pack: start;
			-ms-flex-pack: start;
			justify-content: flex-start;
			span.nome_produto {
				position: relative;
				height: 50%;
				overflow: hidden;
				color: #273033;
				font-family: 'Nunito';
				font-weight: 900;
				font-size: 1.5em;
				line-height: 20px;
				display: block;
				-webkit-transition: 1s all ease-in-out;
				transition: 1s all ease-in-out;
			}
			span.preco_produto {
				font-family: 'Nunito';
				font-weight: 900;
				font-size: 2.5em;
				color: #535769;
			}
		}
	}
	a.hide {
		opacity: 0;
	}
	div.add_carrinho {
		position: absolute;
		width: 100%;
		height: 100px;
		bottom: 0;
		-webkit-box-shadow: 0 -5px 8px 0px #b1b1b110;
		box-shadow: 0 -5px 8px 0px #b1b1b110;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-transition: 0.3s all ease-in-out;
		transition: 0.3s all ease-in-out;
		div.qtd {
			position: relative;
			width: 100%;
			height: 50%;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			-webkit-box-pack: space-evenly;
			-ms-flex-pack: space-evenly;
			justify-content: space-evenly;
			button {
				width: 30px;
				height: 30px;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				-webkit-box-pack: center;
				-ms-flex-pack: center;
				justify-content: center;
				background: transparent;
				border: 0;
				color: #6b6b6b;
				font-family: 'Nunito';
				font-size: 3em;
				overflow: hidden;
				outline: none;
				cursor: pointer;
				-webkit-transition: 0.3s all ease-in-out;
				transition: 0.3s all ease-in-out;
				&:hover {
					color: #414141;
				}
			}
			input {
				position: relative;
				width: 40%;
				height: 65%;
				border: 0;
				text-align: center;
				font-family: 'Nunito';
				font-size: 2em;
				color: #424242;
				outline: none;
				border-radius: 5px;
				-webkit-transition: 0.3s all ease-in-out;
				transition: 0.3s all ease-in-out;
				&:hover {
					background-color: lightgray;
				}
			}
		}
		button.btn_add_carrinho {
			position: relative;
			width: 100%;
			height: 50%;
			background-color: #434f59;
			border: 0;
			color: #fff;
			font-family: 'Nunito';
			font-weight: 800;
			font-size: 1.2em;
			text-transform: uppercase;
			cursor: pointer;
			-webkit-transition: 0.3s all ease-in-out;
			transition: 0.3s all ease-in-out;
			&:hover {
				background-color: #647583;
			}
		}
	}
	div.add_carrinho.hide {
		opacity: 0;
	}
	&:hover {
		a {
			div.foto_produto {
				img {
					-webkit-transform: scale(1.1);
					transform: scale(1.1);
				}
			}
		}
	}
}