header {
    height: 145px;
    background: var(--menu-background);

    #logo-d, div.cima {
        display: none;
    }

    div.baixo {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        #svg_hamburger {
            order: 1;
        }

        #logo-m {
            order: 2;
            width: 85px;
        }

        div.action {
            order: 3;
            background-color: transparent;

            div.conta {
                display: none;
            }

            div.carrinho {
                background-color: transparent;
            }
        }

        svg {
            &#svg_hamburger {
                margin-left: 15px;
            }

            &#svg_carrinho {
                width: 35px;
                height: 35px;
                fill: #fff;
                margin-right: 15px;
            }
        }

        form.barra_busca {
            order: 4;
            position: relative;
            width: 100%;

            display: flex;
            align-items: center;
            justify-content: center;

            input {
                position: relative;
                width: 93%;
                height: 40px;
                border: 0;
                border-radius: 4px;
                box-sizing: border-box;
                padding-left: 15px;
            }

            button {
                display: none;
            }
        }
    }
}