header {
    height: 186px;

    div#header-m {
        display: none;
    }

    h1#logo-d {
            position: absolute;
            top: 42px;
            left: 8vw;
            margin: 0;
            z-index: 1;

            a {
                svg {
                    position: relative;
                }
            }
    }

    div.baixo {
        position: relative;
        width: 100%;
        height: 100%;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap;

        h1, svg#svg_hamburger {
            display: none;
        }

        form.barra_busca {
            order: 1;
            position: relative;
            width: 48%;
            height: 26%;
            margin-top: -45px;

            input {
                width: 100%;
                height: 100%;
                border: 1px solid #383838;
                border-radius: 4px;
                box-sizing: border-box;
                padding-left: 15px;
                color: #BDBDBD;
                font-family: 'Nunito';
                font-size: 1.5em;
                outline: none;

                &::placeholder {
                    font-family: 'Nunito';
                    font-weight: 500;
                    color: rgb(59, 59, 59);
                }
            }

            button {
                position: absolute;
                top: 0;
                right: 0;
                width: 50px;
                height: 100%;
                color: rgb(59, 59, 59);
                font-family: 'Nunito';
                border: 0;
                background: transparent;
                cursor: pointer;
                outline: none;
            }

            div.suggestion {
                width: 100%;
                height: auto;
                max-height: calc(95vh - 170px);
                box-shadow: 0px 5px 5px 0px #0003;
                top: 45px;
                border-radius: 0 0 5px 5px;
                z-index: 1;
            }

            svg {
                display: none;
            }
        }

        div.action {
            order: 2;
            position: relative;
            width: 30%;
            display: flex;
            margin-top: -45px;

            div.conta {
                position: relative;
                width: 60%;
                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                    margin-right: 10px;
                }

                div.links_conta {
                    position: relative;
                    width: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;

                    a {
                        color: #383838;
                        font-family: 'Nunito';
                        font-size: 1.3em;

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    div.divisor {
                        position: relative;
                        width: 1px;
                        height: 14px;
                        background-color: #383838;
                    }
                }
            }

            div.carrinho {
                position: relative;    
                width: 20%;
                height: 35px;
                display: flex;
                align-items: center;

                svg {
                    cursor: pointer;
                }

                span.counter_cart {
                    position: absolute;
                    left: 10px;
                    margin-top: -18px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 15px;
                    height: 15px;
                    border-radius: 15px;
                    background-color: #fff;
                    font-family: "Nunito";
                    font-weight: 800;
                    box-sizing: border-box;
                    padding-top: 1px;
                    box-shadow: 0 0 4px #000000a1;

                    cursor: pointer;
                }
            }

            svg {
                width: 20px;
                height: 20px;
                fill: #383838;
            }
        }

        ul#categoriasMenu {
            order: 3;
            position: absolute;
            left: 7.8vw;
            bottom: 0;
            width: 82%;
            height: 35%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0;
            margin: 0;

            li.parent, li.noChild {
                box-sizing: border-box;
                padding: 15px;
                margin-bottom: 2px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                border-radius: 3px 3px 0 0;
                cursor: pointer;
                transition: 0.3s all ease-in-out;
                
                a.parentLink {
                    color: #383838;
                    font-family: 'Nunito';
                    font-size: 1.6em;
                    font-weight: 900;
                    transition: 0.3s all ease-in-out;
                }

                svg {
                    margin-left: 10px;
                    margin-top: 2px;
                    transition: 0.3s all ease-in-out;
                }

                &:hover {
                    background-color: #fff;
                    
                    a.parentLink {
                        color: #000;
                    }

                    svg {
                        fill: #000!important;
                    }
                }
            }

            li.parent {
                position: relative;

                div.subLinksMarcas {
                    position: absolute;
                    top: 45px;
                    left: 0;
                    width: 70vw;
                    max-height: 70vh;

                    transition: 0.1s all ease-in-out;
                    
                    opacity: 0;
                    z-index: -1;

                    ul {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        
                        box-sizing: border-box;
                        
                        background-color: #fff;
                        box-shadow: 0 8px 10px #00000078;
                        border-radius: 5px;

                        &.ul_marcas {
                            display: grid;
                            grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
                            grid-gap: 8px;
                            padding: 30px 28px 30px 30px;
                            
                            li {
                                position: relative;
                                width: 80px;
                                height: 80px;
                                border-radius: 5px;
                                margin-bottom: 5px;

                                transition: 0.1s all ease-in-out;

                                overflow: hidden;

                                border: 1px solid transparent;

                                display: flex;
                                align-items: center;

                                a {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    display: block;
                                    z-index: 1;
                                }

                                img {
                                    position: relative;
                                    width: 100%;

                                    font-family: Nunito;
                                    font-weight: 900;
                                    text-transform: uppercase;
                                    font-size: 1.2em;
                                    text-align: center;
                                }

                                &:hover {
                                    border: 1px solid #bfbfbf;
                                }
                            }
                        }
                    }
                }

                div.subLinks {
                    position: absolute;
                    top: 45px;
                    left: 0;
                    max-height: 70vh;
                    min-width: 100%;

                    transition: 0.1s all ease-in-out;
                    
                    opacity: 0;
                    z-index: -1;

                    ul {
                        position: relative;
                        width: auto;
                        min-width: 100%;
                        height: 100%;
                        
                        box-sizing: border-box;
                        
                        background-color: #fff;
                        box-shadow: 0 8px 10px #00000078;
                        border-radius: 5px;

                        display: inline-block;

                        transition: 0.3s all ease-in-out;

                        &.ul_subLinks {
                            align-items: flex-start;
                            justify-content: flex-start;
                            display: flex;
                            flex-direction: column;
                            padding: 30px 12px 15px 18px;

                            li.child {
                                position: relative;
                                width: 100%;
                                min-height: 40px;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;

                                transition: 0.3s all ease-in-out;

                                &:first-child {
                                    margin-top: -20px;
                                }

                                a.childLink, span {
                                    color: #4d4d4d;
                                    font-family: 'Nunito';
                                    font-weight: 900;
                                }

                                a.childLink {
                                    position: relative;
                                    width: 100%;
                                    font-size: 1.5em;
                                    white-space: nowrap;

                                    &:hover {
                                        color: #000;
                                    }
                                }

                                span {
                                    font-size: 2.5em;

                                    width: 40px;
                                    height: 30px;

                                    display: flex;
                                    align-items: center;
                                    justify-content: center;

                                    border-radius: 3px;

                                    &:hover {
                                        background-color: #e6e6e6;
                                    }
                                }
                            }
                        }
                    }

                    &.selected {
                        display: inline-flex;

                        ul.ul_subLinks {
                            flex-direction: row;
                            padding: 18px 35px 15px 18px;
                            align-items: flex-start;

                            li.child {
                                margin-top: 0;
                                background-color: #e6e6e6;
                                padding-left: 18px;
                                margin-left: -18px;

                                a.childLink {
                                    color: #000000;
                                }

                                span {
                                    color: #000000;
                                    background-color: #ccc;
                                    margin-right: 10px;
                                }
                            }

                            div.subCategoryContainer {
                                position: relative;
                                width: auto;
                                padding-left: 15px;
                                border-left: 1px solid #e1e1e1;

                                a {
                                    margin-bottom: 5px;
                                    display: block;
                                    white-space: nowrap;
                                    color: #4d4d4d;
                                    font-family: Nunito;
                                    font-size: 1.5em;
                                    font-weight: 700;

                                    &:hover {
                                        color: #000;
                                    }
                                }
                            }
                        }
                    }
                }

                &:hover {
                    > div.subLinks, > div.subLinksMarcas {
                        opacity: 1;
                        z-index: 100;
                    }
                }
            }
        }
    }
}


@media (max-width: 1200px) {
    header {
        div.baixo {
            ul#categoriasMenu {
                left: 2vw;
                width: 96%;
            
                li.parent {
                    a.parentLink {
                        font-size: 1.5em;
                    }
                }
            }
        }
    }
}