:root {
    --menu-background: #fff;
}

header {
    position: relative;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);

    div.baixo {
        form.barra_busca {
            div.suggestion {
                position: absolute;
                box-sizing: border-box;
                padding: 15px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                background-color: #fff;
                overflow: hidden;

                
                &.is-hidden {
                    display: none;
                }

                div.suggestion-words, div.suggestion-products {
                    position: relative;
                    width: 100%;

                    .suggestion-title {
                        color: #333333;
                        font-family: 'Nunito';
                        font-size: 1.8em;
                        font-weight: 900;
                        margin-bottom: 5px;
                    }
                }

                div.suggestion-words {
                    display: flex;
                    flex-direction: column;

                    span {
                        position: relative;
                        width: 100%;
                        box-sizing: border-box;
                        padding: 10px 0;
                        color: #333333;
                        font-family: 'Nunito';
                        font-size: 1.5em;
                        font-weight: 600;
                        text-transform: capitalize;
                        border-bottom: 1px solid #b1b1b1;
                    }
                }

                div.suggestion-products {
                    margin-top: 15px;

                    div.suggestion-product {
                        position: relative;
                        width: 100%;
                        margin-top: 10px;
                        border-radius: 5px;
                        background-color: #e2e2e2;

                        a {
                            position: relative;
                            width: 100%;
                            display: flex;

                            div.suggestion-img {
                                position: relative;
                                width: 80px;
                                height: 80px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                box-sizing: border-box;
                                padding: 5px;

                                img {
                                    position: relative;
                                    height: 100%;
                                    object-fit: contain;
                                    border-radius: 8px;
                                }
                            }

                            div.suggestion-desc {
                                position: relative;
                                width: 100%;
                                display: flex;
                                flex-direction: column;
                                box-sizing: border-box;
                                padding: 15px;

                                span {
                                    font-family: 'Nunito';

                                    &.titlep {
                                        font-size: 1.2em;
                                        font-weight: 800;
                                    }

                                    &.idp {
                                        font-size: 1.2em;
                                        font-weight: 600;
                                        margin-top: 5px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}