section.hero {
    position: relative;
    overflow: hidden;

    div#slide_hero {
        div#slide_hero-track {
            ul#slide_hero-list {
                li {
                    &.hero_prodiet {
                        div.texto {
                            left: 55%!important;
                            font-size: calc(1em - 18%)!important;

                            span {
                                &:nth-child(2) {
                                    width: calc(65% + 15vw);
                                }

                                &:nth-child(3) {
                                    width: 80%
                                }
                            }
                        }
                    }

                    &.hero_body_protein {
                        div.texto {
                            width: 44.5%;
                            font-size: calc(2vw - 4%);
                            padding-right: 4%;

                            a.cta_banner {
                                bottom: calc(3vw - 55%);
                            }
                        }
                    }
                }
            }
        }
    }
}

div.banner_info {
    position: relative;
    width: 100%;
    margin: 30px 0 60px 0;

    div.splide__track {
        ul.splide__list {
            li.item {
                display: flex;
                justify-content: center;

                div.ct_item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    img {
                        width: 70px;
                    }

                    span {
                        text-align: center;
                        margin-top: 15px;
                        font-size: 1.5em;

                        p {
                            font-family: 'Nunito Sans';

                            &:first-child {
                                font-weight: 900;
                                margin-bottom: 4px;
                            }
                        }
                    }
                }
            }
        }
    }
}

div.secao_categorias {
    height: 220px;
    margin-top: 15px;

    div.splide__track {
        ul.splide__list {
            li.categoria {
                height: 180px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-around;
                margin-right: 15px;
                border-radius: 5px;
                overflow: hidden;

                &:before {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    content: "";
                    background: linear-gradient(90deg, #7ab52d 0%, #568e0c 100%);
                    background-position: right;
                    transition: 0.3s ease-in-out;
                }

                a {
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                }
                
                div.cima, div.baixo {
                    position: relative;
                    width: 100%;
                    height: 50%;
                    box-sizing: border-box;
                    padding: 0 8%;

                    font-family: 'Nunito Sans';
                    font-size: 2rem;

                    span {
                        color: #fff;
                    }
                }

                div.cima {
                    position: relative;
                    width: 65%;
                    display: flex;
                    align-items: center;

                    span {
                        font-weight: 900;
                    }
                }

                div.baixo {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    button {
                        font-family: 'Nunito Sans';
                        font-weight: 500;
                        font-size: .68em;
                        text-transform: uppercase;
                        border: 0;
                        background-color: #064a06;
                        box-sizing: border-box;
                        padding: 8px;
                        border-radius: 3px;
                    }
                }

                &.dieta_enteral {
                    &:before {
                        background: linear-gradient(90deg, #f29e3b 0%, #e06700 100%);
                    }

                    img {
                        max-width: 190px;
                        width: 65%;
                        margin-right: -35px;
                    }
                }

                &.suplemento_alimentar {
                    &:before {
                        background: linear-gradient(90deg, #299eb9 0%, #318296 100%);

                    }

                    img {
                        max-width: 228px;
                        width: 72%;
                        margin-right: -65px;
                    }
                }

                &.infantil {
                    &:before {
                        background: linear-gradient(90deg, #e18252 0%, #e74737 100%);
                    }

                    img {
                        max-width: 190px;
                        width: 65%;
                        margin-right: -35px;
                    }
                }
            }
        }
    }
}

div.vitrine {
    position: relative;
    width: 100%;
    margin: 30px 0;
    box-sizing: border-box;
    padding-left: 15px;

    h3 {
        position: relative;
        width: 100%;
        font-family: 'Nunito Sans';
        font-weight: 900;
        font-size: 1.5em;
        text-transform: uppercase;
    }

    .ct_vitrine {
        position: relative;
        height: 96%;
        padding-bottom: 45px;

        div.splide__track {
            padding-top: 8px;
            padding-bottom: 8px;
        }

        div.splide__arrows {
            display: none;
        }
    }
}

div.banner {
    position: relative;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 0 2.5vw;
    margin: 30px 0;

    div.ct_banner {
        padding: 0;
        height: auto;
        border-radius: 5px;
        overflow: hidden;

        img {
            position: relative;
            width: 100%;
            object-fit: cover;
        }
    }
}

@media (min-width: 601px) and (max-width: 1023px) {
    div.banner {
        &.banner_nestle {
            div.ct_banner {
                a {
                    bottom: 15%;
                    right: 4.5%;
                }
            }
        }

        &.banner_danone {
            div.ct_banner {
                a {
                    bottom: 8.5%;
                    left: 6.5%;
                }
            }
        }

        &.banner_thickenup {
            div.ct_banner {
                a {
                    bottom: 22%;
                }
            }
        }

        &.banner_prodiet {
            div.ct_banner {
                a {
                    left: 4.8%;
                }
            }
        }
    }
}

@media (max-width: 800px) {
    section.hero {
        div#slide_hero {
            div#slide_hero-track  {
                ul#slide_hero-list {
                    li:nth-child(1) {
                        div.texto {
                            left: 52%!important;
                            font-size: calc(1em - 35%)!important;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 426px) and (max-width: 600px) {
    section.hero {
        div#slide_hero {
            div#slide_hero-track {
                ul#slide_hero-list {
                    li {
                        &.hero_prodiet {
                            div.texto {
                                left: 5% !important;
                                top: 9%;
                                display: block;

                                span {
                                    &:nth-child(2) {
                                        width: calc(65% + 25vw);
                                    }

                                    &:nth-child(3) {
                                        width: 100%;
                                    }
                                }

                                a.cta_banner {
                                    width: 32%;

                                    span {
                                        font-size: calc(1em + 1.5vw);
                                    }

                                    svg {
                                        right: 4vw;
                                    }
                                }
                            }
                        }

                        &.hero_covid {
                            div.texto {
                                top: 10%;
                                font-size: calc(1em + 1.5vw);

                                a {
                                    position: relative;
                                    margin-top: 38vw;
                                    width: 75%;
                                }
                            }
                        }

                        &.hero_body_protein {
                            div.texto {
                                width: 90%;
                                height: 100%;
                                top: 3%;
                                font-size: calc(1.3vw + 55%);

                                a.cta_banner {
                                    bottom: 8%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    div.banner {
        &.banner_nestle {
            div.ct_banner {
                a {
                    bottom: 54%;
                    right: 7.5%;
                }
            }
        }

        &.banner_danone {
            div.ct_banner {
                a {
                    bottom: 5.5%;
                    left: 4%;
                }
            }
        }

        &.banner_thickenup {
            div.ct_banner {
                a {
                    bottom: unset;
                    right: unset;
                    left: 8.5%;
                    top: 39%;
                    width: 32%;
                }
            }
        }

        &.banner_prodiet {
            div.ct_banner {
                a {
                    bottom: 42%;
                    width: 28%;
                    left: 7.5%;
                }
            }
        }
    }
}

@media (max-width: 425px) {
    section.hero {
        div#slide_hero {
            div#slide_hero-track {
                ul#slide_hero-list {
                    li {
                        &.hero_prodiet {
                            div.texto {
                                display: block;
                                top: 5%;
                                left: 7% !important;
                                font-size: calc(1em - 8%) !important;

                                span {
                                    &:nth-child(2) {
                                        width: 90%;
                                        margin-top: 4%;
                                    }

                                    &:nth-child(3) {
                                        width: 90%;
                                        margin-top: 7%;
                                    }
                                }

                                a.cta_banner {
                                    margin-top: 10%;
                                }
                            }
                        }

                        &.hero_covid {
                            div.texto {
                                top: 5%;
                                font-size: calc(1em + 2.5vw);

                                a.cta_banner {
                                    position: relative;
                                    margin-top: 30%;
                                }
                            }
                        }

                        &.hero_body_protein {
                            div.texto {
                                width: 92%;
                                top: 8%;
                                font-size: 4vw;

                                a.cta_banner {
                                    bottom: -60%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    div.banner {
        &.banner_nestle {
            div.ct_banner {
                a {
                    bottom: unset;
                    top: 38%;
                    right: 6.5%;
                }
            }
        }

        &.banner_danone {
            div.ct_banner {
                a {
                    left: unset;
                    right: 5%;
                    bottom: 6%;
                }
            }
        }

        &.banner_thickenup {
            div.ct_banner {
                a {
                    bottom: unset;
                    right: unset;
                    top: 34%;
                    left: 11.5%;
                }
            }
        }

        &.banner_prodiet {
            div.ct_banner {
                a {
                    bottom: unset;
                    left: 8.5%;
                    top: 40%;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    div.banner {
        div.ct_banner {
            a {
                width: 35%;
                height: calc(48px - 1.5vw);

                span {
                    font-size: calc(1em + 0.8vw);
                }

                svg {
                    right: 5vw;
                }
            }
        }
    }
}