div.submenu, div.breadcrumb {
    display: none;
}

section#secao_produto {
    grid-template-columns: 100%;
    grid-template-rows: 50vh auto auto auto;
    grid-template-areas: 
                            "galeria"
                            "titulo"
                            "comprar"
                            "sobre";
                            
    padding-bottom: 30px;

    div#galeria_supercoffee {
        grid-area: galeria;
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        div.splide__track {
            position: relative;
            width: 100%;
            height: 100%;

            ul.splide__list {
                position: relative;
                width: 100%;
                max-height: 50vh;

                li {
                    position: relative;
                    width: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }

        ul.splide__pagination {
            bottom: -18px;

            li {
                button {
                    width: 30px;
                    height: 3px;
                    border-radius: 5px;
                    background-color: rgba(255, 255, 255, 0.425);

                    &.is-active {
                        background-color: #fff;
                        transform: none;
                    }
                }
            }
        }
    }

    div#galeria_supercoffee-d {
        display: none;
    }

    div.ct_comprar {
        padding: 6vw;
    }

    div.container_titulo_produto {
        box-sizing: border-box;
        padding: 0 6vw;
    }

    div.info_produto {
        padding: 0 6vw;
    }
}