section.page-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	div.container3 {
		margin-top: 30px;
		h1 {
			font-family: 'Nunito';
			font-size: 2em;
			text-transform: uppercase;
			font-weight: 900;
			color: #202020;
		}
	}
	div.container {
		display: block;
		max-width: 90vw;
		div.container2 {
			position: relative;
			div.Seguro {
				display: none;
			}
			div#CadastroAbas {
				ul {
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-pack: justify;
					-ms-flex-pack: justify;
					justify-content: space-between;
					position: relative;
					height: 50px;
					background-color: #cecece;
					border-radius: 3px 3px 0 0;
					li {
						position: relative;
						width: 100%;
						display: -webkit-box;
						display: -ms-flexbox;
						display: flex;
						-webkit-box-pack: center;
						-ms-flex-pack: center;
						justify-content: center;
						-webkit-box-align: center;
						-ms-flex-align: center;
						align-items: center;
						a {
							color: #696969;
							font-family: 'Nunito';
							font-size: 1.3em;
							font-weight: 800;
						}
					}
					li.aberta {
						background-color: #6cab2b;
						a {
							color: #fff;
						}
					}
					li#PessoaFisica {
						border-radius: 5px 0 0 0;
					}
					li#PessoaJuridica {
						border-radius: 0 5px 0 0;
					}
				}
			}
			form#frm2 {
				position: relative;
				width: 100%;
				border-radius: 5px;
				-webkit-box-shadow: 0 0 4px #0000001f;
				box-shadow: 0 0 4px #0000001f;
				overflow: hidden;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				-ms-flex-direction: column;
				flex-direction: column;
				div.board {
					position: relative;
					width: 100%;
					background-color: #fff;
					div {
						&:first-child {
							display: none;
						}
					}
					fieldset {
						input {
							position: relative;
							max-width: 75vw;
						}
						label {
							input {
								position: relative;
								max-width: 75vw;
								-webkit-box-sizing: border-box;
								box-sizing: border-box;
								padding: 12px 15px;
								border: 0;
								background-color: #ececec;
								border-radius: 3px;
								outline: none;
								margin-right: 15px;
								margin-top: 15px;
								-webkit-transition: 0.3s all ease-in-out;
								transition: 0.3s all ease-in-out;
								&:hover {
									background-color: #c5c5c5;
								}
							}
							display: block;
							margin-bottom: 15px;
							input.obriga {
								border-left: 3px solid #e22020;
							}
						}
						position: relative;
						max-width: 100%;
						border: 0;
						-webkit-box-sizing: border-box;
						box-sizing: border-box;
						padding: 30px;
						font-family: 'Nunito';
						font-weight: 700;
						font-size: 1.2em;
						color: #5a5a5a;
						span.obriga.red {
							color: #d43a3a;
							font-weight: 900;
						}
						div#fisica {
							margin-top: 25px;
						}
						div#juridica {
							margin-top: 25px;
						}
						p {
							span#seguranca_senha {
								margin-bottom: 15px;
							}
						}
					}
					label {
						input {
							position: relative;
							max-width: 75vw;
						}
					}
				}
				div.board.termContainerRegister {
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-pack: center;
					-ms-flex-pack: center;
					justify-content: center;
					-webkit-box-sizing: border-box;
					box-sizing: border-box;
					padding: 0 30px 30px 30px;
					button.botao-prosseguir-cadastro {
						width: 100%;
						border: 0;
						background-color: #6cab2b;
						-webkit-box-sizing: border-box;
						box-sizing: border-box;
						padding: 15px;
						border-radius: 3px;
						margin-top: 30px;
						cursor: pointer;
						-webkit-transition: 0.3s all ease-in-out;
						transition: 0.3s all ease-in-out;
						span {
							color: #fff;
							font-family: 'Nunito';
							font-weight: 900;
							text-transform: uppercase;
						}
						&:hover {
							background-color: #7bcf27;
						}
					}
				}
			}
			h2 {
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
				padding-left: 5%;
			}
			input#endereco_cobranca_diferente {
				margin-left: 5%;
			}
		}
	}
}
