div.hero {
    height: auto;
    min-height: 100vh;
    background-image: url("../img/bg_supercoffee-d.jpg");

    div.texto {
        width: 45%;
        
        font-family: MuseoSansRounded;
        text-align: center;
        margin-top: 50px;

        h2 {
            font-size: 3em;
            letter-spacing: 1px;
        }

        p {
            font-size: 2em;
        }
    }

    div#supercoffee {
        margin-top: 70px;
        padding-bottom: 30px;
        // height: auto;

        div.splide__track {
            ul.splide__list {
                li {
                    div.card {
                        width: 95%;
                        justify-content: space-between;
                        font-size: .9em;
                        padding-bottom: 15px;

                        div.tamanho {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: #000;
                            font-family: Nexa-Bold;
                            font-size: 1.2em;
                            background-color: #fbbb36;
                            box-sizing: border-box;
                            padding: 5px 15px;
                            border-radius: 33px;

                            margin-bottom: 20px;

                            display: none;
                        }
                
                        img {
                            height: calc(100px + 3vw);
                        }

                        h3.ic {
                            font-size: 2.3em;
                        }
                    }
                }
            }
        }
    }
}