<li class="card_produto splide__slide" itemid="{{ product.id }}">
    <ul id="variacoes_card_produto">
        <strong>Escolha uma variação</strong>

        {% for variant in product.variants %}
            <li id="{{variant.id}}" onclick="addCart({{ product.id }}, {{ product.price }}, 1, {{variant.id}})"></li>
        {% endfor %}

        <button onclick="escondeVariacao(this)">X</button>
    </ul>

    <a id="link_card_produto" href="{{ product.link }}">
        <div class="foto_produto">
            {% set images = product.images %}
            <img src="{{ images[0].full }}" alt="Foto produto">
        </div>

        <div class="info_produto">
            <span class="nome_produto">
                {{ product.name }}
            </span>

            <span class="preco_produto">
                R$ {{ product.price|currency }}
            </span>
        </div>
    </a>

    <div id="btn_add_carrinho" class="add_carrinho">
        <div class="qtd">
            <button class="btn_minus">-</button>
            <input type="text" value="1" minlength="1">
            <button class="btn_plus">+</button>
        </div>

        {% if product.has_variation %}
            <button class="btn_add_carrinho" onclick="mostraVariacao(this)">Adicionar ao carrinho</button>
        {% else %}
            <button class="btn_add_carrinho" onclick="addCart({{ product.id }}, {{ product.price }}, jQuery(this).siblings('div.qtd').children('input').val(), '')">Adicionar ao carrinho</button>
        {% endif %}
    </div>
</li>