{% spaceless %}
<!doctype html>
<html data-theme="{{ settings.extension_id }}" data-store="{{ store.id }}" class="page-{{ pages.current }}">
<head>
    <!-- tray charset -->
    {{ html.charset() }}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- tray meta tags -->
    {{ tray.meta }}

    <!-- tray styles -->
    {{ tray.styles }}

    <!-- theme styles -->
    <link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/theme.min.css') }}" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/all.css') }}">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/69953e7adf.js" crossorigin="anonymous"></script>

    <!-- tray analytics -->
    {{ tray.analytics }}

    <!-- google tag manager -->
    {{ googleTagManager.header(pages.current, tagManagerData) }}
</head>
<body>
    {{ googleTagManager.top(pages.current, tagManagerData) }}

    <div class="application">

        {% element 'header' %}

        <main class="site-main container">
            <section class="page-content">
                {{ content_for_layout }}
            </section>
        </main>

        {% element 'footer' %}
    </div>

    <!-- tray -->
    {% element 'snippets/modal' %}
    {{ googleTagManager.bottom(pages.current, tagManagerData) }}
    {{ tray.scripts }}
    {{
            html.script({
                '0' : tray.paths.js ~ 'dist/application.min.js?' ~ utils.assets_version,
                '1' : tray.paths.js ~ 'init.js?' ~ utils.assets_version
            })
    }}
    {% element 'snippets/pageview' %}
    {{ store.chat }}

    <!-- theme scripts-->
    <script type="text/javascript" src="{{ asset('js/slick.min.js') }}"></script>

</body>
</html>
{% endspaceless %}